<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/scripts/p5.js"></script>
  <script src="/scripts/p5.sound.min.js"></script>
  <script src="/scripts/p5.speech.js"></script>
  <script src="/public/sketch2.js"></script>
  
  <link
    href="https://fonts.googleapis.com/css?family=Cairo|Liu+Jian+Mao+Cao|Oswald|Spicy+Rice|Libre+Baskerville&amp;display=swap"
    rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/public/style.css">
  <meta charset="utf-8">
</head>

<body>

  <header>Proudly created by <a href="http://yitingliu97.wordpress.com/"  target="_blank">Yiting Liu</a>, a philosophy lover.</header>
  <nav>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="doc.html">Process</a></li>
      <li><a href="about.html">About</a></li>

    </ul>
  </nav>

  <div id="intro">
    <!-- images of the audio diary image -->

    <h1>Simple Diary</h1>
    <h4>Thinking out loud.</h4>
    <img id="logo" src="/assets/Audio Diary Logo.png" alt="Curly line">

 
    <div class="sketch-box">
    <div id="sketch-holder-2"></div>
    <div id="sketch-holder-2-input"></div>
  </div>
    <p>
      Welcome to the Simple Diary where you get to share your thoughts during hard times.
      Its sister version is <a href="../index.html"><strong>Audio Diary</strong></a> where you can speak your thoughts to your computer. 
      Inspired by my favorite quote by Marcus Aurelius: "All is as thinking makes it so."
      It celebrates anonymity and does not save your thoughts.</p>
     
     <p> Play with the arrow keys and move your mouse around. You may discover something new.
      You can, however, save the visuals to your devices.</p>
      
      <p>I hope through this, you can start a conversation with yourself and look within.
      What is something that we can adjust ourselves to?
      What are some of your thoughts in their pure form?
       Maybe, this could be your personal sanctuary while exercising social distancing.
    </p>
    <br>

  </div>

</body>



</html>